CocoonMicrosite/bookings.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://tempuri.org/bookings.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="bookings">
    <xs:complexType>
      <xs:sequence>
        
        <!-- BUSSES -->
        
        <xs:element name="busses">
          <xs:complexType>
            <xs:sequence>
              
              <!-- BUS -->
              
              <xs:element name="bus">
                <xs:complexType>
                  <xs:sequence>
                    
                    <!-- Venue Reference -->
                    <xs:element type="xs:byte" name="location"/>
                    
                    <!-- Time Reference -->
                    <xs:element type="xs:byte" name="time"/>
                    
                    <!-- SEATS -->
                    
                    <xs:element name="seats">
                      <xs:complexType>
                        <xs:sequence>
                          
                          <!-- SEAT -->
                          
                          <xs:element name="seat">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="bookedName"/>
                                <xs:element type="xs:string" name="bookingRef"/>
                              </xs:sequence>
                              <xs:attribute type="xs:string" name="id"/>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute type="xs:byte" name="id"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        
        <!-- VENUES -->
        
        <xs:element name="venues">
          <xs:complexType>
            <xs:sequence>
              
              <!-- VENUE -->
              
              <xs:element name="venue">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="name"/>
                    <xs:element type="xs:string" name="street1"/>
                    <xs:element type="xs:string" name="street2"/>
                    <xs:element type="xs:string" name="street3"/>
                    <xs:element type="xs:string" name="city"/>
                    <xs:element type="xs:string" name="postcode"/>
                    <xs:element type="xs:string" name="phone"/>
                  </xs:sequence>
                  <xs:attribute type="xs:byte" name="id"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="times">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="time">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:byte" name="id"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>